:root {
  /*primary colors*/
  --orange: hsl(25, 97%, 53%);
  /*neutral colors*/
  --white: hsl(0, 0, 100%);
  --grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  /*font sizes*/
  --paragraph-text: 0.9375rem;

  /*font family*/
  --font-family: Overpass;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: --var(--very-dark-blue);
}

.container {
  background-color: --var(--dark-blue);
}

.btn {
  background-color: --var(--orange);
  color: --var(--white);
}
